.busca{
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBusca{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgrey;
    width: 600px;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.433);
}

.containerBusca h1{
    margin: 10px 0px;
    color: #222;
    font-size: 1.2em;
}

.selectContainer{
    display: flex;
    width: 90%;
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

strong{
    color: #0279F0;
}